<!DOCTYPE html>
<html>
<head>
  <title>Toy System</title>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
  <h1>Log for Everyone</h1>

  <form class="form1" method="POST" action="/add">
  	User name:<br>
	<input type="text" name="name">
	<br><br>
	Message:<br>
  <textarea name="message"></textarea>
	<br><br>
	<input type="submit" value="Store">
  </form>
  <br><br>
  <form class="back" action="/record">
  	Find out what people said:
	<input type="submit" value="GO">
  </form>
</body>
</html>
