<!DOCTYPE html>
<html>
<head>
  <title>Toy System</title>
  <link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body>
  <h1>Log for Everyone</h1>
  <table>
    <tr>
      <th>
        <h3>Name</h3>
      </th>
      <th>
        <h3>Message</h3>
      </th>
    </tr>
    {% for item in info %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
    </tr>
    {% endfor %}
  </table>

  <br><br>
	<form class="back" action="/">
  	Back to Homepage: 
	<input type="submit" value="GO">
  </form>

</body>
</html>
